html {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
body{
  margin-bottom: 0;
}
.full-height {
  min-height: 650px;
}
.half-height {
  min-height: 300px;
}
.material-img{
  border-radius: 10%;
}
